<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <!-- TODO: make this configurable from the config.toml -->
    <p>Panarchus' site to the Every Realm.</p>
  </div>

  <nav class="sidebar-nav">
    <!-- You can add what is in the sidebar straight from your config file -->
    {{ $thisperma := .Permalink | relURL }}
    {{ range sort .Site.Params.sidebar "weight" }}
      {{ $thisurl := .url | relURL }}
      <a class="sidebar-nav-item {{ if eq $thisurl $thisperma }} active {{ end }}" href="{{ .url }}">{{ .title }}</a>
    {{ end }}

    <!-- GitHub link -->
    <a class="sidebar-nav-item" href="{{ .Site.Params.github.url }}">GitHub Project</a>
    <span class="sidebar-nav-item">Currently on {{ .Site.Params.github.head }}</span>
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
