<div class="social-media-plugs">
	<!-- TWITTER -->
	{{ $twitter_h := .Site.Params.twitter_handle }}
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ $twitter_h }}" data-dnt="true">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>

	<!-- FACEBOOK TODO: link from FB doesn't appear to work...-->
</div>